body {
	background: rgb(70, 110, 159);
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: bottom;
}

.row {
	max-width: 1020px;
	background: rgba(255, 255, 255, 0.9);
}

.row .row {
	/*
	 *	Make sure encapsulated rows don't inflict with semi-transparency.
	 */
	background: rgba(255, 255, 255, 0);
}

#titlerow h1 {
	font-size: 1.9em;
	line-height: 1.666;
}

#titlerow .large-10 {
	padding-top: 1em;
}

table.fc-header {
	border: none;
	background: rgba(0, 0, 0, 0);
}

img#logo {
	display: block;
	width: 100%;
	max-width: 6em;
	height: auto;
	padding: .5em 0;
}

/*
 *	ZEND System Error Styles
 */

h3.error,
h4.error,
h5.error {
	color: rgb(240, 65, 36);
	font-weight: bold;
}

pre.prettyprint {
	/* overwrite prettyprinters system style */
	border: none !important;
}

pre.prettyprint ol {
	font-size: .95em;
}

/*
 *	User list styles
 */
tr.user-record-row.working td {
	color: rgb(180, 180, 180);
}

tr.user-record-row.deleted td {
	color: rgb(165, 0, 0);
}

tr.user-record-row.success {
	background-color: green;
}

tr.user-record-row.error td {
	background-color: red;
}

/*
 *	Booking Detail Styles
 */

h4.bookingtitle {
	font-weight: bold;
}

h4.booking_prebooking {
	color : #6f6f6f;
}

.daterow p {
	font-weight: bold;
}

.overlappingresourcebooking_name {
	font-style: italic;
}

/*
 *	Full Calendar Styles
 */

.fc-header-left h2 {
	font-size: 1.2em;
	line-height: 2em;
	color: #6f6f6f;
}

.fc-event {
	font-size: .75em;
	color: #1d1d1d;
}

.fc-state-highlight {
	background-color: #FFE8CB;
}

.fc-event-inner {
	padding: .1em;
}

/*
 *	Tooltip styles
 */
.qtip.qtip-foundation {
	font-size: 0.875rem;
	line-height: 1;
}

.qtip.qtip-foundation table {
	background: rgba(0, 0, 0, 0);
	margin-bottom: 0;
	border: none;
}

.qtip.qtip-foundation table tr.even,
.qtip.qtip-foundation table tr.alt,
.qtip.qtip-foundation table tr:nth-of-type(even) {
	background: rgba(0, 0, 0, 0);
}

/*
 *	Modal Styles
 */
